<% layout('layout/layout')%>

<div class="container">
    <div style="margin:20px"></div>
    <h2 class="font2">SMU 클라우드 펀딩 Main 페이지</h2>
    <div style="margin:20px"></div>
    <div class="row">
        <% fund_list.forEach(el => { %>
        <div class="col col-md-4">
            <div class="card">
                <img class="card-img-top" src="/images/<%= el.image %>" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title"><%= el.fundingName %></h4>
                    <p class="card-text"><%= el.fundingInfo %></p>
                    <a href="/<%= el.index %>" class="btn btn-primary">상세보기</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
  </div>
</div>