<div class="container-fluid">
    <!-- Navigation -->
    <div class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">
            클라우드 펀딩
        </a>
        <div>
            <a href="" class="btn btn-outline-light">로그인</a>
            

        </div>
 
    </div>
</div>